# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
tldr_bot_cli_env/

# pyenv files
.python-version

# Environment variables
.env

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# PyCharm files
.idea/

# VSCode files
.vscode/

# Dependency directories
node_modules/